.git
.github
node_modules
functions/node_modules
.next
coverage
dist
tmp
**/__pycache__
**/*.pyc
*.log
.DS_Store
.env
.env.*
README.md
public
components
app
hooks
lib
utils
types
package.json
pnpm-lock.yaml
tsconfig.json
