name: Build & Push FastAPI image to DockerHub

on:
  push:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # Write backend env for the FastAPI container build context (optional at runtime)
      - name: Create .env from GitHub Secret
        run: |
          echo "${{ secrets.ENV_FILE }}" > .env

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t dippreneurlab/salthub-new:latest .

      - name: Push Docker image
        run: |
          docker push dippreneurlab/salthub-new:latest
